*venv
*/*venv
experiments/.idea
experiments/data/out
experiments/data/*.pcap
experiments/data/z_point_clouds
experiments/data/*/*/lidar*.csv
experiments/data/*/*/palicus*.csv
experiments/data/*/*/traffic*.pcap
experiments/data/*/precision/ground_truth
experiments/data/*/precision/palicus
experiments/data/*/precision/compare
experiments/data/*/throughput/palicus_*
experiments/scripts/__pycache__
experiments/scripts/*/__pycache__
experiments/scripts/*/*/__pycache__
